.projects-container {
  width: 100%;
  padding: 60px 0px;
  place-items: center;
  font-family: Oxygen, monospace;
}

.projects-header-block {
  width: 85%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(14, 1fr);
}

.projects-header {
  grid-row: 1/2;
  grid-column: 1/6;
  text-align: center;
  border-radius: 15px;
  box-shadow: 10px 10px 20px #0a0ef0;
}

.projects-header-text {
  margin: 0px;
  padding: 30px 0px;
  font-size: 40px;
}

.projects-divider {
  grid-row: 1/2;
  grid-column: 6/7;
  margin-left: 10px;
  position: relative;
}

.projects-divider-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0px;
  font-size: 30px;
}

.projects-link {
  grid-row: 1/2;
  grid-column: 7/8;
  position: relative;
  height: 70%;
  margin: auto 0;
  border-radius: 15px;
  box-shadow: 10px 10px 20px #0a0ef0;
}

.projects-link-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0px;
  font-size: 30px;
}

.projects-info-block {
  width: 75%;
  margin: 50px auto;
}

.project-info-text > h4 {
  font-size: 120%;
  margin: 0px;
}

.project-info-text > h2 {
  font-size: 170%;
  margin: 0px;
}

.project-overlay {
  padding: 15px;
  border-radius: 10px;
  font-size: 14px;
  line-height: 1.5;
}

.project-info-regular ul,
.project-info-reverse ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  font-size: 1rem;
}

.project-image {
  max-width: 100%;
  margin-bottom: 60px;
  padding: 1rem;
  border-radius: 25px;
}

.project-info-regular,
.project-info-reverse {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
}

.project-info-regular .project-info-text {
  grid-column: 5/10;
  grid-row: 1/2;
  order: 2;
  text-align: right;
}

.project-info-regular .project-image {
  grid-column: 1/6;
  grid-row: 1/2;
  order: 1;
  border-left: 3px solid #a1c7e0;
  border-top: 3px solid #a1c7e0;
}

.project-info-regular ul {
  justify-content: flex-end;
}

.project-info-reverse .project-info-text {
  grid-column: 1/6;
  grid-row: 1/2;
  order: 2;
  text-align: left;
}

.project-info-reverse .project-image {
  grid-column: 5/10;
  grid-row: 1/2;
  order: 1;
  border-right: 3px solid #a1c7e0;
  border-top: 3px solid #a1c7e0;
}

.project-info-reverse ul {
  justify-content: flex-start;
}
