.hero-container {
  height: 70vh;
  text-align: center;
  padding: 2rem 2rem;
}

.hero-text-block {
  height: 80%;
  width: 50%;
  z-index: 1;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 15px 15px 15px #0a0ef0;
}

.hero-background > img {
  z-index: -1;
  margin: 2rem 0 4rem 0;
  padding: 1rem;
  border-left: 1px solid #a1c7e0;
  border-top: 1px solid #a1c7e0;
  border-radius: 25px;
}
