.hero-container {
  display: grid;
  position: relative;
  align-items: center;
  padding: 60px 0px 60px 60px;
}

.hero-text-block {
  font-family: Oxygen, monospace;
  height: 60%;
  width: 50%;
  position: absolute;
  text-align: center;
  grid-row: 1/7;
  grid-column: 1/7;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 10px 10px 20px #0a0ef0;
}

.hero-name {
  font-size: 60px;
  padding: 40px 0;
}

.hero-subtext {
  font-size: 30px;
  padding-bottom: 40px;
}

.img-container {
  grid-row: 6/7;
  grid-column: 6/7;
}

.background-img {
  height: 70%;
  padding: 1rem;
  border-right: 3px solid #a1c7e0;
  border-top: 3px solid #a1c7e0;
  border-radius: 55px;
}
