header {
  padding: 2rem;
  text-align: center;
  font-family: "Oxygen mono", monospace;
  font-size: 25px;
}

.resume-container {
  padding: 50px;
  display: flex;
  justify-content: center;
  align-content: center;
}
