.about-container {
  width: 100%;
  padding: 60px 0px;
  align-items: center;
  justify-content: center;
  font-family: Oxygen, monospace;
}

.about-header-block {
  margin: 30px;
  display: grid;
}

.about-linkedin {
  grid-row: 1/2;
  width: 20%;
  margin-left: 10%;
  margin-right: 25%;
  text-align: center;
  border-radius: 15px;
  box-shadow: 10px 10px 20px #f2be5c;
}

.about-header {
  grid-row: 1/2;
  width: 40%;
  text-align: center;
  border-radius: 15px;
  box-shadow: 10px 10px 20px #f2be5c;
}

.about-header-text {
  margin: 0px;
  padding: 50px 0px;
  font-size: 40px;
}

.about-info-block {
  width: 75%;
  margin: 30px;
}
