.about-container {
  width: 100%;
  padding: 60px 0px;
  place-items: center;
  font-family: Oxygen, monospace;
}

.about-header-block {
  width: 85%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(14, 1fr);
}

.about-header {
  grid-row: 1/2;
  grid-column: 8/13;
  text-align: center;
  border-radius: 15px;
  box-shadow: 10px 10px 20px #f2be5c;
}

.about-header-text {
  margin: 0px;
  padding: 30px 0px;
  font-size: 40px;
}

.about-divider {
  grid-row: 1/2;
  grid-column: 13/14;
  margin-left: 10px;
  position: relative;
}

.about-divider-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0px;
  font-size: 30px;
}

.about-link {
  grid-row: 1/2;
  grid-column: 14/15;
  position: relative;
  height: 70%;
  margin: auto 0;
  border-radius: 15px;
  box-shadow: 10px 10px 20px #f2be5c;
}

.about-link-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0px;
  font-size: 30px;
}

.about-info-block {
  width: 75%;
  margin: 50px auto;
  padding: 5px 10px;
  text-align: center;
  border-radius: 15px;
  border-left: 10px solid #f2be5c;
  border-right: 10px solid #f2be5c;
}
