.about-container {
  width: 100%;
  padding: 60px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: Oxygen, monospace;
}

.about-header-block {
  width: 85%;
  margin: 30px;
}

.about-header {
  width: 40%;
  margin-left: auto;
  text-align: center;
  border-radius: 15px;
  box-shadow: 10px 10px 20px #f2be5c;
}

.about-header-text {
  margin: 0px;
  padding: 50px 0px;
  font-size: 40px;
}

.about-info-block {
  width: 75%;
  margin: 30px;
}
