nav {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  font-size: 120%;
  padding: 2rem;
  text-align: center;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

nav li {
  padding: 1rem;
  border-radius: 15px;
  box-shadow: 5px 10px #888888;
}

[class*="fa-"] {
  font-size: 100%;
}
