nav {
  padding: 2rem;
  text-align: center;
  font-family: "Oxygen mono", monospace;
  font-size: 22px;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

nav li {
  padding: 1rem;
  border-radius: 15px;
  box-shadow: 5px 5px 10px #f2be5c;
}
