nav {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  font-size: 120%;
  padding: 4rem 1rem;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

[class*="fa-"] {
  font-size: 150%;
  color: blue;
}

nav h1 [class*="fa-"] {
  font-size: 100%;
}

nav a {
  color: white;
  text-decoration: none;
  display: block;
}

nav a:hover,
[class*="fa-"]:hover {
  color: lightgreen;
}
